    <main class="text-grey-500">
        <section id="banner" class="bg-gray-300 p-5">
            <div class="quote bg-black/50 container mx-auto w-2/3 text-white text-xl uppercase p-3">Sell Your Existing Machine Today.</div>
        </section>
        <section class="border border-gray-300 container mx-auto w-2/3 p-3 mt-3">
            <p>By completing this form we will send your information to interested parties.</p>
        </section>
        <section class="contact-info container mx-auto w-2/3 border border-gray-300 mt-3 p-3 rounded">
            <div class="top-heading border-b border-gray-300 w-full pb-3">
                <h1 class="text-gray-500 text-sm">Contact Info</h1>
            </div>

            <% if notice %>
            <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
                <span class="font-medium"><%= notice %></span>
            </div>
            <% end %>

            <%= form_with model: @sell, local: true do |form|  %>
            <div class="input-group flex flex-wrap">
                <div class="full-name w-full p-1">
                    <%= form.label :name, class: "text-sm text-gray-500" %>
                    <% if @sell.errors[:name].any? %>
                        <span class="text-red-700 text-xs">
                            <%= @sell.errors[:name].join(", ") %>
                        </span>
                    <% end %>
                   
                    <br/>
                    <%= form.text_field :name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
                </div>
                <div class="phone w-full md:w-1/2 lg:w-1/2 p-1">
                    <%= form.label :phone, class: "text-sm text-gray-500" %>
                    
                    <% if @sell.errors[:phone].any? %>
                        <span class="text-red-700 text-xs">
                            <%= @sell.errors[:phone].join(", ") %>
                        </span>
                    <% end %>

                    <%= form.text_field :phone, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
                </div>
                <div class="email w-full md:w-1/2 lg:w-1/2 p-1">
                    <%= form.label :email, class: "text-sm text-gray-500" %>
                    
                    <% if @sell.errors[:email].any? %>
                        <span class="text-red-700 text-xs">
                            <%= @sell.errors[:email].join(", ") %>
                        </span>
                    <% end %>


                    <%= form.text_field :email, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
                </div>
            </div>
        </section>

        <section class="machine-info container mx-auto w-2/3 border border-gray-300 mt-3 p-3 rounded">
            <div class="top-heading border-b border-gray-300 w-full pb-3">
                <h1 class="text-gray-500 text-sm">Machine Information</h1>
            </div>
            <div class="input-group mt-3 flex flex-wrap">
          
                <div class="maufacturer_name w-full p-1">
                
                    <%= form.label :file, class: "block" do %>
                    <% if @sell.errors[:file].any? %>
                        <span class="text-red-700 text-xs">
                            <%= @sell.errors[:file].join(", ") %>
                        </span>
                    <% end %>
                    <span class="sr-only">Choose profile photo</span>
                    <%= form.file_field :file, class: "block w-full text-sm text-slate-500
                        file:mr-4 file:py-2 file:px-4
                        file:rounded-full file:border-0
                        file:text-sm file:font-semibold
                        file:bg-violet-50 file:text-violet-700
                        hover:file:bg-violet-100" %>
                    <% end %>

                </div>
                <div class="maufacturer_name w-full md:w-1/3 lg:w-1/3 p-1">
                   <%= form.label :manufacturer_name, class: "text-sm text-gray-500" %>

                                           
                    <% if @sell.errors[:manufacturer_name].any? %>
                        <span class="text-red-700 text-xs">
                            <%= @sell.errors[:manufacturer_name].join(", ") %>
                        </span>
                    <% end %>

                    <%= form.text_field :manufacturer_name, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
                 </div>
                <div class="maufacturer_model w-full md:w-1/3 lg:w-1/3 p-1">
                   <%= form.label :manufacturer_model, class: "text-sm text-gray-500" %>

                                           
                    <% if @sell.errors[:manufacturer_model].any? %>
                        <span class="text-red-700 text-xs">
                            <%= @sell.errors[:manufacturer_model].join(", ") %>
                        </span>
                    <% end %>

                    <%= form.text_field :manufacturer_model, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
                 </div>
                <div class="serial w-full md:w-1/3 lg:w-1/3 p-1">
                    <%= form.label :serial, class: "text-sm text-gray-500" %>
                    
                    <% if @sell.errors[:serial].any? %>
                        <span class="text-red-700 text-xs">
                            <%= @sell.errors[:serial].join(", ") %>
                        </span>
                    <% end %>

                    <%= form.text_field :serial, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
               </div>
                <div class="years w-full md:w-1/2 lg:w-1/2 p-1">
                    <p class="text-xs text-gray-500 ">Fuel Types</p>
                    <% if @sell.errors[:fuel_types].any? %>
                        <span class="text-red-700 text-xs">
                            <%= @sell.errors[:fuel_types].join(", ") %>
                        </span>
                    <% end %>
                    <%= form.label :checkboxes, "Fuel Types", class: " text-transparent border border-gray-300 text-white bg-white hover:text-gray-200 hover:bg-gray-200 w-full focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800", id: "dropdownCheckboxButton selected-checkboxes", data: { dropdown_toggle: "dropdownDefaultCheckbox2" } %>
               
                    <!-- Dropdown menu -->
                    <div id="dropdownDefaultCheckbox2" class="z-10 hidden w-48 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600">
                    <ul>
  <li>
    <div class="flex items-center">
      <%= check_box_tag "sell[fuel_types][]", "petrol", @sell.fuel_types&.include?("petrol"), class: "checkbox w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" %>
      <%= label_tag "sell_fuel_types_petrol", "Petrol", class: "ms-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
    </div>
  </li>
  <li>
    <div class="flex items-center">
      <%= check_box_tag "sell[fuel_types][]", "diesel", @sell.fuel_types&.include?("diesel"), class: "checkbox w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" %>
      <%= label_tag "sell_fuel_types_diesel", "Diesel", class: "ms-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
    </div>
  </li>
  <li>
    <div class="flex items-center">
      <%= check_box_tag "sell[fuel_types][]", "electric", @sell.fuel_types&.include?("electric"), class: "checkbox w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" %>
      <%= label_tag "sell_fuel_types_electric", "Electric", class: "ms-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
    </div>
  </li>
</ul>

                    </div>

                </div>
                <div class="years w-full md:w-1/2 lg:w-1/2  p-1">
                    <p class="text-xs text-gray-500 mb-3">Power Sources</p>
                    <% if @sell.errors[:power_sources].any? %>
                        <span class="text-red-700 text-xs">
                            <%= @sell.errors[:power_sources].join(", ") %>
                        </span>
                    <% end %>
                    <%= form.label :checkboxes, "Power Sources", class: "hover:text-gray-200 text-transparent border border-gray-300 text-white bg-white hover:bg-gray-200 w-full focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800", id: "dropdownCheckboxButton", data: { dropdown_toggle: "dropdownDefaultCheckbox" } %>

                    <!-- Dropdown menu -->
                    <div id="dropdownDefaultCheckbox" class="z-10 hidden w-48 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600">
                    <ul class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownCheckboxButton">
                        <li>
                            <div class="flex items-center">
                            <%= check_box_tag "sell[power_sources][]", "Product A", @sell.power_sources&.include?("Product A"), class: "checkbox w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" %>
                            <%= label_tag "sell_power_sources_Product_A", "Product A", class: "ms-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center">
                            <%= check_box_tag "sell[power_sources][]", "Product B", @sell.power_sources&.include?("Product B"), class: "checkbox w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" %>
                            <%= label_tag "sell_power_sources_Product_B", "Product B", class: "ms-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
                            </div>
                        </li>
                        <li>
                            <div class="flex items-center">
                            <%= check_box_tag "sell[power_sources][]", "Product C", @sell.power_sources&.include?("Product C"), class: "checkbox w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500" %>
                            <%= label_tag "sell_power_sources_Product_C", "Product C", class: "ms-2 text-sm font-medium text-gray-900 dark:text-gray-300" %>
                            </div>
                        </li>
                        </ul>

                    </div>

                </div>
                <div class="year w-full md:w-1/3 lg:w-1/3 p-1">
                    <%= form.label :year, class: "text-sm text-gray-500" %>
                    
                    <% if @sell.errors[:year].any? %>
                        <span class="text-red-700 text-xs">
                            <%= @sell.errors[:year].join(", ") %>
                        </span>
                    <% end %>

                    <%= form.text_field :year, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
               </div>
               <div class="condition w-full md:w-1/3 lg:w-1/3">
                 <div class="zip p-1">
                   <%= form.label :condition, "Condition", class: "text-sm text-gray-500" %>
                          
                    <% if @sell.errors[:condition].any? %>
                        <span class="text-red-700 text-xs">
                            <%= @sell.errors[:condition].join(", ") %>
                        </span>
                    <% end %>

                    <%= form.select :condition, 
                                    [["Currently works", 1], ["Currently Broken", 2]], 
                                    {}, 
                                    { id: "consitions", 
                                    class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" } %>
                    
                </div>

               </div>
               <div class="year w-full md:w-1/3 lg:w-1/3 p-1">
                    <%= form.label :price, class: "text-sm text-gray-500" %>
                    
                    <% if @sell.errors[:price].any? %>
                        <span class="text-red-700 text-xs">
                            <%= @sell.errors[:price].join(", ") %>
                        </span>
                    <% end %>

                    <%= form.text_field :price, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
               </div>
            </div>
        </section>
        

          <section class="machine-info container mx-auto w-2/3 border border-gray-300 mt-3 p-3 rounded">
            <div class="top-heading border-b border-gray-300 w-full pb-3">
                <h1 class="text-gray-500 text-sm">Description</h1>
            </div>
            <% if @sell.errors[:description].any? %>
                        <span class="text-red-700 text-xs">
                            <%= @sell.errors[:description].join(", ") %>
                        </span>
                    <% end %>   
            <div class="input-group mt-3 w-full flex flex-wrap">
                <div class="maufacturer_name p-1 w-full">
                    
                    <%= form.label :description, "Your message", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                    <%= form.text_area :description, 
                                    id: "message", 
                                    cols: 40, 
                                    placeholder: "Write your thoughts here...", 
                                    class: "block outline-none p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>

                </div>
            </div>
        </section>
        <div class="container mx-auto w-2/3">
            <%= form.submit "Submit", 
            class: "mt-3 focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" %>
        </div>
        <% end %>
    </main>